.nav{
    background-color: #A0C0F7;
}
#main_text{
    margin:1.5% 2%;
    font-size: 300%;
    font-family: "Montserrat Regular";
    color: #005BC4;
    line-height: 90%;
}
.container{
    width: 10%;
}